.gallery {
  display: flex;

  &__images ul {
    list-style-type: none;
  }
  &__image {
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;

    img {
      height: 200px;
      width: auto;
    }

    &-main {
        margin: 0 30px;
        cursor: pointer;

      & img {
        width: 700px;
      }
    }
  }
}
