@import "./../../variables.scss";

.input-radio {
    width: 2px;
    height: 2px;
    opacity: 0.1;

    &__label {
      display: inline-block;
      text-align: center;
      font-size: 14px;
      text-transform: uppercase;
      background-color: white;
      border: 1px solid black;
      width: 50px;
      padding: 10px;
      margin-right: 5px;
      cursor: pointer;

      &.error {
        background-color: rgb(255, 207, 207);
        border: 1px solid red;
        color: red;
      }
    }

    
    &:checked + &__label, &.checked + &__label {
      background-color: $black;
      color: white;
    }

  }

